<appSettings>
  <add key="CommandFileName" value="mysqldump" />
  <add key="CommandArguments" value="-u root -p******** yourDatabaseName --single-transaction --quick" />
  <add key="OutputFile" value="D:\SqlBackups\yourDatabaseName_{DateTime}.sql" />
  <add key="BackupFileMask" value="yourDatabaseName*.sql" />
  <add key="BackupDirectory" value="D:\SqlBackups" />
  <add key="BackupAgeDays" value="14" />
</appSettings>
