<appSettings file="CommandArguments.config">
  <!--Note: The CommandArguments.config file should contain the CommandArguments key with the appropriate value for your MySQL database.
      Example: 
      <?xml version="1.0" encoding="utf-8"?>
      <appSettings>
        <add key="CommandArguments" value="-u root -******** log4om2 - -single-transaction -q" />
      </appSettings>
  -->
  <add key="CommandFileName" value="C:\Program Files\MySQL\MySQL Server 9.6\bin\mysqldump.exe" />
  <!--
  <add key="BackupDirectory" value="D:\test" />
  -->
  <add key="OutputFile" value="log4om2_{DateTime}.sql" />
  <add key="BackupDirectory" value="D:\SqlBackups" />
  <add key="BackupFileMask" value="log4om2*.sql" />
  <add key="LastDumpedIDFile" value="log4om2_max_qsoid.txt" />
  <add key="MaxBackups" value="14" />
</appSettings>
